[submodule "PowerSploit"]
	path = ./modules/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
	branch = dev
[submodule "ADModule"]
	path = ./modules/ADModule
	url = https://github.com/samratashok/ADModule
	branch = master
[submodule "PowerUpSQL"]
	path = ./modules/PowerUpSQL
	url = https://github.com/NetSPI/PowerUpSQL.git
	branch = master
